[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/NERDtree"]
	path = vim/bundle/NERDtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-bitbake"]
	path = vim/bundle/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip
